$footer-color: rgb(220, 226, 226);
$color-texto-boton-especial: white;
$color-sombra: #000;
$color-texto-claro-resalta: aliceblue;
$color-texto-obscuro-resalta: rgb(187, 181, 181);
$color-texto-especial: #adaaaa;

$font-size-chico: 1.2rem;
$font-size-normal: 1.5rem;
$font-size-medium: 1.4rem;
$font-size-large: 2rem;
$font-size-x-large: 4rem;
$font-size-x-x-large: 5rem;

$background-color-boton-especial: black;
$background-color-seccion-especial: rgb(248, 249, 250);

